<div class="container">
    <form [formGroup]="produtoForm">
        <div class="margin-botton">
            <label for="nome" >Produto</label>
            <input 
                type="text" 
                formControlName="nome"
                class="form-control" 
                [ngClass]="{
                    'is-invalid': produtoForm.controls.nome.errors
                }" 
                name="nome" 
                id="nome" >
            <div 
                *ngIf="produtoForm.controls.nome.errors && produtoForm.controls.nome.errors.required" 
                class="invalid-feedback"> 
                Nome é Obrigatório 
            </div>
        </div>
        <div class="margin-botton">
            <label for="preco" class="form-label">Preço</label>
            <input 
                type="number" 
                formControlName="preco" 
                class="form-control" 
                [ngClass]="{
                    'is-invalid': produtoForm.controls.preco.errors
                }" 
                name="preco" 
                id="preco" 
                (keyup.enter)="submit()"> 
            <div 
                *ngIf="produtoForm.controls.preco.errors" 
                class="invalid-feedback"> 
                <div *ngIf=" produtoForm.controls.preco.errors.required">
                    Preco é Obrigatório 
                </div>
                <div *ngIf=" !produtoForm.controls.preco.errors.required">
                    Preco deve ser maior que 0
                </div>
            </div>
        </div>
        <div>
            <button 
                class="btn" 
                [ngClass]="{ 
                    'disabled':produtoForm.invalid, 
                    'btn-secondary':produtoForm.invalid, 
                    'btn-success':!produtoForm.invalid 
                }" 
                (click)="submit()">
                    {{situacaoAtual.textoBotao}}
            </button>
            <button 
                type="button" 
                class="btn btn-secondary" 
                (click)="navegar('home')">
                Cancelar
            </button>
        </div>
    </form>
</div>