<table class="table table-striped" *ngIf="carregarLoading; else carregando">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOME DO PRODUTO</th>
        <th scope="col" class="align-right">VALOR</th>
        <th ><button type="button" class="btn  btn-primary-outline" (click)="cadastro()">
          <span class="glyphicon glyphicon-plus"></span>
        </button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of produto">
        <th scope="row" >{{p.id}}</th>
        <td>{{p.nome | uppercase}}</td>
        <td class="align-right">{{p.preco | currency:'BRL'}}</td>
        <td class="align-left">
          <button type="button" class="btn  btn-primary-outline" (click)="editar(p.id)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>          
          <button type="button" class="btn  btn-primary-outline"
          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          [confirmText]="confirmText"
          [cancelText]="cancelText"
          placement="left"
          (confirm)="excluirItem(p.id)"
          (cancel)="cancelClicked = true">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #carregando >
    <div id="preloader">
      <div class="inner">
         <div class="bolas">
            <div></div>
            <div></div>
            <div></div>                    
         </div>
      </div>
  </div>
  </ng-template>

  

  