<table class="table table-striped" *ngIf="carregarLoading; else carregando">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOME DO PRODUTO</th>
        <th scope="col">VALOR</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of produto">
        <th scope="row" >{{p.id}}</th>
        <td>{{p.nome | uppercase}}</td>
        <td>{{p.preco.toLocaleString("pt-BR") | currency:'BRL'}}</td>
        <td>
          <button type="button" class="btn  btn-primary-outline" (click)="editar(p.id)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </td>         
        <td>
          
          <button type="button" class="btn  btn-primary-outline"
          mwlConfirmationPopover
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          placement="left"
          (confirm)="excluirItem(p.id)"
          (cancel)="cancelClicked = true">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #carregando >
    <div id="preloader">
      <div class="inner">
         <div class="bolas">
            <div></div>
            <div></div>
            <div></div>                    
         </div>
      </div>
  </div>
  </ng-template>

  